<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/px-view-header/px-view-header.html">
<link rel="import" href="../../bower_components/px-context-browser/px-context-browser.html">
<link rel="import" href="../../bower_components/px-deck-selector/px-deck-selector.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/px-alert-message/px-alert-message.html"/>

<link rel="import" href="../../bower_components/px-widget-cards/px-twoup.html">
<link rel="import" href="../../bower_components/px-widget-cards/px-threeup.html">
<link rel="import" href="../../bower_components/px-widget-cards/px-fourup.html">
<link rel="import" href="../../bower_components/px-widget-cards/px-sixup.html">

<link rel="import" href="../../bower_components/px-gauge/px-gauge.html"/>
<link rel="import" href="../../bower_components/px-simple-horizontal-bar-chart/px-simple-horizontal-bar-chart.html"/>
<link rel="import" href="../../bower_components/px-simple-bar-chart/px-simple-bar-chart.html"/>
<link rel="import" href="../../bower_components/px-vis-pie-chart/px-vis-pie-chart.html"/>
<link rel="import" href="../../bower_components/px-simple-line-chart/px-simple-line-chart.html"/>


<script type="text/javascript" src="../../bower_components/px/dist/px.min.js"></script>
<script src="../socket.io.min.js" type="text/javascript"></script>

<dom-module id="dashboards-view">
  <template> 
    <px-view-header title="Dashboards" style="display: block; margin-bottom: 6px;"></px-view-header>

       <px-fourup id="card-1" widget-header="Train Speeds" widget-icon="fa-thermometer">
          <div class="widget-1">
              <h3>Train 2 Actual Speed (in/s)</h3>
              <span>
                      
                  <px-simple-line-chart
                      id="train1ActualSpeed"
                      min="[[t1ActualMin]]"
                      max="[[t1ActualMax]]"
                      min-label="min [[t1ActualMin]]"
                      max-label="max [[t1ActualMax]]"
                      threshold-label="avg [[t1ActualAvg]]"
                      line-data="[[t1ActualValue]]"
                      threshold="[[t1ActualAvg]]">
                  </px-simple-line-chart>

              </span> 
          </div>

          <div class="widget-2">
              <h3>Train 5 Actual Speed (in/s)</h3>
              <span>
                      
                  <px-simple-line-chart
                      id="train2ActualSpeed"
                      min="[[t2ActualMin]]"
                      max="[[t2ActualMax]]"
                      min-label="min [[t2ActualMin]]"
                      max-label="max [[t2ActualMax]]"
                      threshold-label="avg [[t2ActualAvg]]"
                      line-data="[[t2ActualValue]]"
                      threshold="[[t2ActualAvg]]">
                  </px-simple-line-chart>

              </span>
          </div>


          <div class="widget-3">
              <h3>Train 2 Sprog Speed</h3>
              <span>
                      
                  <px-simple-line-chart
                      id="train1SprogSpeed"
                      min="[[t1SprogMin]]"
                      max="[[t1SprogMax]]"
                      min-label="min [[t1SprogMin]]"
                      max-label="max [[t1SprogMax]]"
                      threshold-label="avg [[t1SprogAvg]]"
                      line-data="[[t1SprogValue]]"
                      threshold="[[t1SprogAvg]]">
                  </px-simple-line-chart>

              </span>
          </div>

          <div class="widget-4">
              <h3>Train 5 Sprog Speed</h3>
              <span>
                      
                  <px-simple-line-chart
                      id="train2SprogSpeed"
                      min="[[t2SprogMin]]"
                      max="[[t2SprogMax]]"
                      min-label="min [[t2SprogMin]]"
                      max-label="max [[t2SprogMax]]"
                      threshold-label="avg [[t2SprogAvg]]"
                      line-data="[[t2SprogValue]]"
                      threshold="[[t2SprogAvg]]">
                  </px-simple-line-chart>

              </span>
          </div>

       </px-fourup>

  </template>
</dom-module>

<script>
    Polymer({
      is: 'dashboards-view',
      properties: {
      },
      ready: function() {
          console.log('dashboards-view ready()');

          var globalthis = this;

          var socket = io('http://localhost:1884');
          socket.on('connect', function () {
              socket.send('dashboard');

              socket.on('message', function (msg) {
                  if (msg['id'] == "train1ActualSpeeds") {
                      globalthis.t1ActualMin = "0";
                      globalthis.t1ActualMax = "20";
                      globalthis.t1ActualAvg = msg['mean'];
                      globalthis.t1ActualValue = msg['value'];
                  } else if (msg['id'] == "train2ActualSpeeds") {
                      globalthis.t2ActualMin = "0";
                      globalthis.t2ActualMax = "20";
                      globalthis.t2ActualAvg = msg['mean'];
                      globalthis.t2ActualValue = msg['value'];
                  } else if (msg['id'] == "train1SprogSpeeds") {
                      globalthis.t1SprogMin = "0";
                      globalthis.t1SprogMax = "1";
                      globalthis.t1SprogAvg = msg['mean'];
                      globalthis.t1SprogValue = msg['value'];
                  } else if (msg['id'] == "train2SprogSpeeds") {
                      globalthis.t2SprogMin = "0";
                      globalthis.t2SprogMax = "1";
                      globalthis.t2SprogAvg = msg['mean'];
                      globalthis.t2SprogValue = msg['value'];
                  }
              });
          });
   
      }
    });
</script>


