<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/px-card/px-card.html"/>
<link rel="import" href="../../bower_components/px-view-header/px-view-header.html">
<link rel="import" href="../../bower_components/px-widget-cards/px-twoup.html">
<link rel="import" href="../../bower_components/px-widget-cards/px-threeup.html">
<link rel="import" href="../../bower_components/px-gauge/px-gauge.html"/>
<link rel="import" href="../../bower_components/px-alert-message/px-alert-message.html"/>


<dom-module id="train-layout-view">
  <template>
    <px-view-header title="Train Layout" style="display: block; margin-bottom: 6px;"></px-view-header>
    <style>
        .hide {
            display: none;
        }
    </style>
    
    <px-card header-text='Layout' icon="fa-television">
        <div class="layout">
            <div class="layout__item style-scope local-element-demo">
                <canvas id="train" width="1000px" height="584px;" style="border:1px solid #000000; display:block; margin:1em auto; border:1px solid black; background:url(../CurrentLayout.png); background-size: 1000px 584px;"></canvas>
            </div>
        </div>

        <div class="alerts" id="alerts">
            <px-alert-message
                id="success"
                class="hide"
                type="information"
                message-title="Success!"
                message="[[successMessage]]">
            </px-alert-message>

             <!--
             <px-alert-message
                id="resolved"
                class="hide"
                type="information"
                message-title="Success!"
                message="Collision avoided!">
            </px-alert-message>
            -->

            <px-alert-message
                id="warning"
                class="hide"
                type="warning"
                message-title="Heads up!"
                message="[[warningMessage]]">
            </px-alert-message>
    
            <!--
            <px-alert-message
                type="error"
                message-title="Oh no!"
                message="The trains have collided!"
                auto-dismiss="5000">
            </px-alert-message>
            -->
        </div>


    </px-card>

    <!--
    <px-twoup id="card-1" widget-header="Train Speed" widget-icon="fa-train">
        <div class="widget-1" style="resize: none; overflow: auto;">
             <h3>Train 1 Speed</h3>
             <span >
                 <px-gauge value="10" max="50" width="100"></px-gauge> 
             </span> 
         </div>

         <div class="widget-2" style="resize: none; overflow: auto;">
             <h3>Train 2 Speed</h3>
             <span >
                 <px-gauge value="10" max="50" width="100"></px-gauge> 
             </span> 
         </div>
    </px-twoup>
    -->

  </template>
  <script src="../socket.io.min.js" type="text/javascript"></script>
  <script>
      Polymer({
          is: 'train-layout-view',
          properties: {},
          ready: function() {
              console.log('train-layout-view ready()')
              var c = this.$.train;
              var width = c.width;
              var height = c.height;
              // scalex ideally should equal scaley 
              var rectSize = Math.round(width * 1.0 / 60);
              var scalex = 1200 * 1.0 / width; 
              var scaley = 700 * 1.0 / height; 
              var ctx = c.getContext("2d");
              var blocks = [
                            [550, 10],   // block 1
                            [25, 170],   // block 2
                            [500, 670],  // block 3
                            [875, 670],  // block 4
                            [1080, 600], // block 5
                            [1155, 180], // block 6
                            [720, 10],   // block 7
                            [160, 280],  // block 8
                            [580, 550],  // block 9
                            [800, 540],  // block 10
                            [940, 480],  // block 11
                            [1015, 320], // block 12
                            [975, 120],  // block 13
                            [930, 600],  // block 14
                            [1005, 500], // block 15
                            [370, 300],  // block 16
                            [510, 480],  // block 17
                           ];

              var colors = [
                            "#8B0000",
                            "#68228B",
                           ];

              var old = [
                         [null, null],
                         [null, null]
                        ];  

              function updateTrainLocation(blockID, trainID) {
                  if (old[trainID][0] != null && old[trainID][1] != null) {
                      ctx.clearRect(old[trainID][0], old[trainID][1], rectSize, rectSize);
                  } 

                  ctx.fillStyle = colors[trainID];
                  var x = Math.round(blocks[blockID][0] * 1.0 / scalex);
                  var y = Math.round(blocks[blockID][1] * 1.0 / scaley);
                  old[trainID][0] = x;
                  old[trainID][1] = y;

                  ctx.fillRect(x, y, rectSize, rectSize);
                  
              }

              var len = blocks.length;

              function turnOnOffMessage(type, unhide) {
                  if (type == "warning" && unhide == 0) {
                      this.warning.classList.add("hide");
                  } else if (type == "warning" && unhide == 1) {
                      this.warning.classList.remove("hide");
                  } else if (type == "success" && unhide == 0) {
                      this.success.classList.add("hide");
                  } else if (type == "success" && unhide == 1) {
                      this.success.classList.remove("hide");
                  } else if (type == "resolved" && unide == 0) {
                      this.resolved.classList.add("hide");
                  } else if (type == "resolved" && unhide == 1) {
                      this.resolved.classList.remove("hide");
                  }
              }

              var globalthis = this;
              
              var socket = io('http://localhost:1884');
              socket.on('connect', function () {
                  socket.send('train-layout');

                  socket.on('message', function (msg) {
                      if (msg['id'] == "updateTrain") {
                          var id = parseInt(msg['trainID']);
                          var value = parseInt(msg['block']) - 1;
                          updateTrainLocation(value % 17, id % 2);
                      } else if (msg['id'] == "message") {
                          if (msg['value'] == "Possible train collision detected!") {
                              console.log(msg);
                              globalthis.warningMessage = msg['value']
                              turnOnOffMessage("warning", 1); 
                          } else if (msg['value'] == "offTrainWarning") {
                              console.log(msg);
                              turnOnOffMessage("warning", 0);
                              globalthis.successMessage = "Collision avoided!";
                              turnOnOffMessage("success", 1);
                              setTimeout(function() {turnOnOffMessage("success", 0);}, 3000);
                          } else {
                              globalthis.successMessage = msg['value']
                              turnOnOffMessage("success", 1)
                              setTimeout(function() {turnOnOffMessage("success", 0);}, 3000);
                          }
                      }
                  });
              });
          }
      });
  </script>
</dom-module>
